/* ==UserStyle==
@name           Google Calendar - Dark
@namespace      mkobayashime
@version        2.0.1
@homepageURL    https://github.com/mkobayashime/userscripts
@updateURL      https://github.com/mkobayashime/userscripts/raw/main/src/google-calendar-dark.user.css
@description    Dark theme for Google Calendar
@author         mkobayashime
==/UserStyle== */

@-moz-document domain("calendar.google.com") {
  html:not(:has(meta[name="theme-color"][content="#1B1B1B"])) {
    filter: invert(95%) hue-rotate(180deg);

    img,
    div[style^="background-image: url"] {
      filter: invert(100%) hue-rotate(180deg);
    }
  }
}

@-moz-document url-prefix("https://contacts.google.com/widget/") {
  img {
    filter: invert(100%) hue-rotate(180deg);
  }
}
